/* Space out content a bit */
html,body {
  height: 100%;
}

body {
  margin: 0 auto;
  font-size: 0.8em;
}

p{
  margin-bottom: 0.8em;
  color: #3D3B30;
}

.list {
  list-style: none;
  padding-left: 1em;
  margin: 0;
}

.container-fluid{
  padding: 0;
}

.wrapper{
  padding: 1.5em 1.5em 1em 1.5em;
}

.form-control{
  font-size: 1em;
  background: transparent;
  border-radius: unset;
}

.img-center{
  display: block;
  margin: auto auto;
}

.mt-m-2{
  margin-top: -15px;
}
.mr-m-2{
  margin-right: -15px;
}

.scroll-up-button{
  background-color: #FFC15E !important;
  color: #3D3B30;
}
/* Navigation */

.navbar{
  background-color: #FFC15E;
  z-index: 99999;
  margin-top: 0.9em;
  padding: 0rem 1rem 0 0rem;
}
.nav-item{
  padding: 0.5rem 0rem;
  background-color: #3D3B30;
}
.nav-item.close-menu{
  padding: 0.5rem 0rem;
  background-color: #FFC15E;
}
.close-menu .nav-link{
  color: #3D3B30;
  font-weight: bold;
  font-size: 1.2em;
}
.nav-pills .nav-link.active{
  background-color: #3D3B30;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 1.2em;
}

.header .mobile-close{
  display: none;
}

.header .search-input{
   background-color: #3D3B30;
   border: 0px;
   border-bottom: 1px solid #FFC15E;
   height: 20px;
   font-size: 18px;
 }

.header .input-search-button{
  background-color: #3D3B30;
  color: #FFC15E;
  border: 0px;
  height: 20px;
  padding: 0;
  padding-left: 1em;
  margin: 0;
}

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}


/* MainPage*/

.page-background {
  background: url("/static/img/bg.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
  min-height: 520px;
}
.page-background-overlay{
  background: rgba(86,163,164,0.82);
  overflow: hidden;
  height: 100%;
  z-index: 2;
}

.headline-slogan{
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  font-size: 4em;
  width: 80%;
  margin-left: 10%;
  text-transform: uppercase;
}

.menu{
  color: #FFFFFF;
  border: 0px solid #FFFFFF;
  font-weight: 600;
  font-size: 2em;
  margin: 1em;
  cursor: pointer;
  z-index: 9999;
}

/* Parts of page*/

.part-50{
  min-height: 300px;
  height: 50vh;
}
.part-55{
  min-height: 325px;
  height: 100%;
}

.part-60{
  min-height: 400px;
  height: 100%;
}

.part-head{
  color: #FFFFFF;
  font-weight: bold;
  font-size: 6.5em;
  text-transform: uppercase;
}

.part-headline{
  font-weight: 200;
  text-transform: uppercase;
  text-align: center;
  padding: 40px;
}

.part-sub{
  font-weight: bold;
  font-size: 1.9em;
  text-transform: uppercase;
}

.slider-navigator{
  font-size: 2.3em;
}


/* Centered containers */

div.container100 {
  height: 100vh;
  min-height: 520px;
  position: relative }

div.container100 .center-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 -50% 0 0;
  transform: translate(-50%, -50%) }

div.container70 {
  height: 60vh;
  min-height: 300px;
  position: relative }

div.container70 .center-wrapper {
  position: absolute;
  top: 45%;
  left: 50%;
  margin: 0 -50% 0 0;
  transform: translate(-50%, -50%) }

.filter-panel{
  background-color: #FFFFFF;
  min-height: 20px;
  padding: 2em;
}

/* Cards */
.card{
  border: none;
  background-color: #FFFFFF;
  padding: 5px;
  border-radius: 0;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  height: 100%;
}
.card-img-top{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.card-body{
  padding: 0.8em 0.75em 0.75em;
}

.card-footer{
  background-color: #FFFFFF;
  border: none;
  padding: 0 1.25em;
}

.card h4,.card h6{
  margin: 0.4em 0 0;
  padding: 0;
}
.card h6{
  margin-bottom: 0.6em;
}

.reason-icon{
  font-size: 3em;
  padding-bottom: 0.5em;
  color: #3D3B30;
}

.reason p {
  padding: 0em 2em 2em;
  text-align: justify;
}

/*Buttons*/

.btn-read{
  background-color: #3D3B30;
  color: #FFFFFF;
  font-size: 0.8em;
  border-radius: unset;
}

.btn-all{
  background-color: #E7E3E8;
  color: #000000;
  font-size: 0.8em;
  text-transform: uppercase;
  border-radius: unset;
}

.btn-send{
  background-color: #FFC15E;
  color: #000000;
  font-size: 0.8em;
  text-transform: uppercase;
  border-radius: unset;
}
.btn-filter{
  background-color: #FFC15E;
  color: #000000;
  font-size: 1.4em;
  text-transform: uppercase;
  margin-top: -23px;
  padding: 11px 22px;
}

/* Custom page footer */
.footer {
  padding: 20px;
  color: #e5e5e5;
  border-top: 1px solid #e5e5e5;
  background-color: #3D3B30;
}

.footer p {
  color: #FFFFFF;
}

.footer a {
  color: #FFC15E;
  font-weight: lighter;
  font-size: 1.1em;
}

.footer .form-control{
  border-color: #FFC15E;
}

.footer .form-control:focus{
  background-color: #FFC15E;
}

.footer img {
  padding: 1em;
}


.social-network-footer{
  font-size: 2em;
}

.social-network-footer i {
  padding: 0.5em;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

}

@media screen and (max-width: 768px) {

  .headline-slogan{
    font-size: 2em;
    margin: 0.5em;
    width: unset;
  }
  .part-head, .part-sub {
    text-align: center;
  }
  .part-head{
    font-size: 4em;
  }
  .part-sub{
    font-size: 1.5em;
  }
  .filter-panel{
    padding: 1em;
    margin: 1em;
  }

  .btn-filter{
    margin-top: -30px;
    padding: 8px 15px;
    font-size: 1.2em;
  }

  .form-control{
    height: 90%;
    font-size: 90%;
  }

  .menu{
    font-size: 2em;
  }

  div.container70 {
    height: 100%;
    min-height: unset;
    position: unset }

  div.container70 .center-wrapper {
    position: unset;
    top: unset;
    left: unset;
    margin: unset;
    transform: unset }

  .nav-pills.nav{
    display: unset;
  }
  .navbar{
    margin-top: 0px;
    width: 100vw;
    height: 100vh;
    text-align: right;
    color: #FFC15E;
    background-color: #3D3B30;
  }

  .header .mobile-close{
    display: unset;
    position: absolute;
    top:20px;
    right: 20px;
    font-size: 3em;
  }

  .header .close-menu{
    display: none;
  }

}

/*Definition of basics*/
.orange{
  background-color: #FFC15E;
}

.grey{
  background-color: #E7E3E8;
}

.blue{
  background-color: #56A3A6;
}

.orange-text{
  color: #FFC15E;
}

.blue-text{
  color: #56A3A6;
}

.white-text{
  color: #FFFFFF;
}



.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.spicy-enter {
  opacity: .01;
  transform: scaleX(0) translateY(100px);
}

.spicy-enter.spicy-enter-active {
  opacity: 1;
  transform: scaleX(1) translateY(0);
  transition: all 500ms ease-in-out;
}

.spicy-leave {
  opacity: 1;
  transform: scaleX(1) translateY(0);
}

.spicy-leave-active {
  opacity: 01;
  transform: scaleX(0) translateY(100px);
  transition: all 300ms ease-in-out
}
