/* Space out content a bit */
html,body {
  height: 100%;
}

body {
  margin: 0 auto;
  font-size: 0.8em;
}

p{
  margin-bottom: 0.8em;
  color: #3D3B30;
}
a{
  text-decoration: underline;
}
.list {
  list-style: none;
  padding-left: 1em;
  margin: 0;
}

.container-fluid{
  padding: 0;
}

.wrapper{
  padding: 1.5em 1.5em 1em 1.5em;
}

.form-control{
  font-size: 1em;
  background: transparent;
  border-radius: unset;
}

.img-center{
  display: block;
  margin: auto auto;
}

.mt-half{
  margin-top: 0.4rem !important;
}
.mt-m-2{
  margin-top: -0.3rem;
}
.mt-m-2{
  margin-top: -15px;
}
.mr-m-2{
  margin-right: -15px;
}
.upper{
  text-transform: uppercase;
}

.radio-button{
  margin-right: 10px;
}

.scroll-up-button{
  background-color: #FFC15E !important;
  color: #3D3B30;
}
/* Navigation */
.admin .navbar{
  background-color: #3D3B30;
  z-index: 99999;
  padding: 0rem;
  margin-top: 0;
  margin-bottom: 1em;
}

.navbar{
  background-color: transparent;
  z-index: 99999;
  margin-top: 0.9em;
  padding: 0rem 1rem 0 0rem;
  margin-bottom: 1em;
}
.nav-item{
  padding: 0.5rem 0rem;
  background-color: #3D3B30;
}
.nav-item.close-menu{
  padding: 0.5rem 0rem;
  background-color: #FFC15E;
}
.close-menu .nav-link{
  color: #3D3B30;
  background-color: #FFC15E;
  font-weight: bold;
  font-size: 1.2em;
}
.nav-pills .nav-link.active, .nav-pills a{
  background-color: #3D3B30;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 1.2em;
}
.navbar-brand{
  color: #FFC15E;
  text-decoration: none;
}
.navbar-brand:hover{
  color: #FFC15E;
  text-decoration: none;
}

.header .mobile-close{
  display: none;
}

.header .search-input{
   background-color: #3D3B30;
   border: 0px;
   border-bottom: 1px solid #FFC15E;
   height: 20px;
   font-size: 16px;
  color: #FFC15E;
  font-weight: lighter;
 }

.header .input-search-button{
  background-color: #3D3B30;
  color: #FFC15E;
  border: 0px;
  height: 20px;
  padding: 0;
  padding-left: 1em;
  margin: 0;
}

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.img-background{
  background: url("/static/img/bg.jpg") no-repeat center center;
  background-size: cover;
}
.img-background-overlay{
  background: rgba(86,163,164,0.82);
  overflow: hidden;
  height: 100%;
  z-index: 2;
}

/* MainPage*/

.page-background {
  background: url("/static/img/bg.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
  min-height: 520px;
}
.page-background-overlay{
  background: rgba(86,163,164,0.82);
  overflow: hidden;
  height: 100%;
  z-index: 2;
}

.adminpage-background {
  background: url("/static/img/bg.jpg") no-repeat center center;
  background-size: cover;
  height: 100%;
  min-height: 520px;
}
.adminpage-background-overlay{
  background: rgba(86,163,164,0.82);
  overflow: hidden;
  height: 100%;
  z-index: 2;
}

.headline-slogan{
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  font-size: 4em;
  width: 80%;
  margin-left: 10%;
  text-transform: uppercase;
}

.small-headline{
  font-size: 2.5em;
}

.menu{
  color: #FFFFFF;
  border: 0px solid #FFFFFF;
  font-weight: 600;
  font-size: 2em;
  cursor: pointer;
  z-index: 9999;
  text-align: right;
  margin-bottom: 1em;
}

.page-background .menu {
  margin: 1em;
}

.storieslink {
  text-decoration: underline;
  color: black;
  font-size: 1.3em;
}

.slider-slide .storyCard{
  background-image: linear-gradient(227deg, #F1A730 5%, #FF8C52 100%);
}
.slider-slide:nth-child(2n) .storyCard{
  background-image: linear-gradient(207deg, #529B9D 5%, #465BC1 100%, #465BC1 100%);

}
.storyblock{

}

.storyblock .storyautor
{
  color: #F1A730;
  font-size: 2em;
  font-weight: bold;
}

.storySlider:nth-child(2n) .storyautor {
  color: #529B9D;
}





/* Forms */
.selectbox {
  background-color: #f9f9f9;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  padding: 10px 12px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: absolute;
  left: 5%;
  top: 30px;
  width: 90%;
  z-index: 4;
}

.small-form-controll{
  height: 30px;
}

.pointer{
  cursor: pointer;
}

.input-group-text{
  background-color: transparent !important;
  border: none !important;
  font-size: 2rem;
  height: 2.5rem;
  color: #56A3A6;
  font-weight: bold;
  padding: 0;
}

.form-control[readonly] {
  background-color: transparent !important;
}

.bmi-input{
  border: none;
  font-size: 2rem;
  height: 2.5rem;
  color: #56A3A6;
  font-weight: bold;
}

.input-range__slider {
  background: #56A3A6 !important;
  border: 1px solid #56A3A6 !important;
}
.input-range__track--active {
  background: #56A3A6 !important;
}
.life-style-check{
  text-transform: uppercase;
  font-weight: bold;
}


.linkmain{
text-transform: uppercase;
color: white;
font-size: 1.25em;
font-weight: 600;
}

.linkprevence{
text-transform: uppercase;
text-decoration: none;
color: black;
font-size: 1.25em;
font-weight: 600;
}

.linkmain:hover {
text-decoration: none;
color: white;
}

.linkprevence:hover {
text-decoration: none;
color: black;
}





/* Parts of page*/

.part-50{
  min-height: 300px;
  height: 50vh;
}
.part-55{
  min-height: 325px;
  height: 100%;
}

.part-60{
  min-height: 400px;
  height: 100%;
}

.part-head{
  color: #FFFFFF;
  font-weight: bold;
  font-size: 6.5em;
  text-transform: uppercase;
}

.part-head2355{
  color: black;
  font-size: 2.5em;
  font-weight: bold;
  margin-top: 15px;
}

.part-headline{
  font-weight: 200;
  text-transform: uppercase;
  text-align: center;
  padding: 40px;
}

.part-sub{
  font-weight: bold;
  font-size: 1.9em;
  text-transform: uppercase;
}

.part-sub2355{
  margin-bottom: 20px;
  color: gray;
  font-size: 1.5em;
}

.slider-navigator{
  font-size: 2.5em;
  margin-top: 81px !important;
}


/* Centered containers */

div.container100 {
  height: 100vh;
  min-height: 520px;
  position: relative }

div.container100 .center-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 -50% 0 0;
  transform: translate(-50%, -50%) }

div.container81 {
  height: 81vh;
  min-height: 300px;
  position: relative }

div.container81 .center-wrapper {
  position: absolute;
  top: 45%;
  left: 50%;
  margin: 0 -50% 0 0;
  transform: translate(-50%, -50%);
  width:100%
}

div.container70 {
  height: 60vh;
  min-height: 300px;
  position: relative }

div.container70 .center-wrapper {
  position: absolute;
  top: 45%;
  left: 50%;
  margin: 0 -50% 0 0;
  transform: translate(-50%, -50%);
  width:100%
 }

  div.container50 {
    height: 40vh;
    min-height: 300px;
    position: relative }

  div.container50 .center-wrapper {
    position: absolute;
    top: 45%;
    left: 50%;
    margin: 0 -50% 0 0;
    transform: translate(-50%, -50%) }


.filter-panel{
  background-color: #FFFFFF;
  min-height: 20px;
  padding: 2em;
  margin-top: 20px;
  border-radius: 6px;
}

.detail-link{
  color: #56A3A6;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}

/* Cards */
.card{
  border: none;
  background-color: #FFFFFF;
  padding: 5px;
  border-radius: 0;
  height: 100%;
box-shadow: 0 0 20px 0 rgba(140,140,140,0.50);
border-radius: 8px;
}
.card-radius{
  border-radius: 0.5em;
}

.card.shadow{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-img-top{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.card-body{
  padding: 0.8em 0.75em 0.75em;
}

.card-footer{
  background-color: #FFFFFF;
  border: none;
  padding: 0 1.25em;
}

.card h4,.card h6{
  margin: 0.4em 0 0;
  padding: 0;
  font-size: 1.8em;

}
.card h6{
  margin-bottom: 0.6em;
}

.reason-icon{
  font-size: 3em;
  padding-bottom: 0.5em;
  color: #3D3B30;
}

.reason p {
  padding: 0em 2em 2em;
  text-align: justify;
}


.tag{
  background: #56A3A6;
  padding: 0.2em 0.8em;
  font-size: 80%;
  color: #FFFFFF;
  border-radius: 1em;
}

.quotation{
  font-size: 2em;
  font-weight: bold;
}

.quote{
  margin-top: 20px;
  display: block;
}

.paragraphtext {
  font-size: 1.3em;
  background-color: #f0f0f06e;
  background
  padding: 15px 15px;
  border-radius: 0.5em;
}

/*Buttons*/

.btn-read{
  background-color: #3D3B30;
  color: #FFFFFF;
  font-size: 0.8em;
  border-radius: unset;
}

.btn-all{
  background-color: #E7E3E8;
  color: #000000;
  font-size: 0.8em;
  text-transform: uppercase;
  border-radius: unset;
}

.btn-send{
  background-color: #FFC15E;
  color: #000000;
  font-size: 0.8em;
  text-transform: uppercase;
  border-radius: unset;
}

.btn-filter{
  background-color: #FFC15E;
  color: #000000;
  font-size: 1.4em;
  text-transform: uppercase;
  margin-top: -23px;
  padding: 11px 22px;
}

.btn-filter2{
  background-color: #FFC15E;
  color: #000000;
  font-size: 1.4em;
  text-transform: uppercase;
  padding: 11px 22px;
}

.btn-form{
  background-color: #3D3B30;
  color: #ffffff;
  font-size: 1.8em;
  text-transform: uppercase;
  padding: 11px 22px;
}

.btn-admin{
  background-color: #56A3A6;
  color: #000000;
  font-size: 1.5em;
  text-transform: uppercase;
  margin-top: -23px;
  padding: 11px 22px;
}

.btn-filter:disabled , .btn-filter.disabled{
  opacity: 1;
}

.filter-item{
  margin-top: 10px;
}
/* Slider */

.slider-control-bottomcenter{
  display: none;
}

.slider-control-centerleft {
  top: 30% !important;
  left: -30px !important;
}

.slider-control-centerright {
  top: 30% !important;
  right: -30px !important;
}
.fixslider .row .slider{
  height: 195px !important;
}
/* Custom page footer */
.footer {
  padding: 20px;
  color: #e5e5e5;
  border-top: 1px solid #e5e5e5;
  background-color: #3D3B30;
}

.footer p {
  color: #FFFFFF;
}

.footer a {
  color: #FFC15E;
  font-weight: lighter;
  font-size: 1.1em;
}

.footer .form-control{
  border-color: #FFC15E;
}

.footer .form-control:focus{
  background-color: #FFC15E;
}

.footer img {
  padding: 1em;
}


.social-network-footer{
  font-size: 2em;
}

.social-network-footer i {
  padding: 0.5em;
}
/* Admin */
.form-wrapper{
  padding: 2em;
  background-color: #FFC15E;
  background: rgba(255,194,93,0.82);
  color: #56A3A6;
  font-weight: bold;
}

.admin-input input{
  border: 2px solid #56A3A6;
}

.adminForm {
  padding: 20px;
  color: #3D3B30;
  border-top: 1px solid #e5e5e5;
  background-color: #FFC15E;
  font-size: 1.2em;
}

.adminForm h4{
  padding: 20px;
  color: #e5e5e5;
  border-top: 1px solid #e5e5e5;
  background-color: #3D3B30;
}

.adminForm h3{
  padding: 20px;
  color: #3D3B30;
}

.adminForm p {
  color: #FFFFFF;
}

.adminForm a {
  color: #FFC15E;
  font-weight: lighter;
  font-size: 1.1em;
}

.adminForm .form-control{
  border-color: #3D3B30;
  color: #3D3B30;
}

.adminForm .form-control:focus{
  background-color: #FFC15E;
  color: #3D3B30;
}


.adminForm img {
  padding: 1em;
}
.slider-wrapper{
  padding-top: 80px
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

}

@media screen and (max-width: 768px) {

  .headline-slogan{
    font-size: 2em;
    margin: 0.5em;
    width: unset;
  }
  .part-head, .part-sub {
    text-align: center;
  }
  .part-head{
    font-size: 4em;
  }
  .part-sub{
    font-size: 1.5em;
  }
  .filter-panel{
    padding: 1em;
    margin: 1em;
  }

  .btn-filter{
    margin-top: -30px;
    padding: 8px 15px;
    font-size: 1.2em;
  }

  .form-control{
    height: 90%;
    font-size: 90%;
  }

  .menu{
    font-size: 2em;
    padding-top: 1em;
    height: 80px
  }

  .navbar-brand{
    display: none;
  }

  div.container70 {
    height: 100%;
    min-height: unset;
    position: unset }

  div.container70 .center-wrapper {
    position: unset;
    top: unset;
    left: unset;
    margin: unset;
    transform: unset }

  .nav-pills.nav{
    display: unset;
  }
  .navbar{
    margin-top: 0px;
    width: 100vw;
    height: 100vh;
    text-align: right;
    color: #FFC15E;
    background-color: #3D3B30;
  }

  .header .mobile-close{
    display: unset;
    position: absolute;
    top:20px;
    right: 20px;
    font-size: 3em;
  }

  .header .close-menu{
    display: none;
  }

}

/*Definition of basics*/
.orange{
  background-color: #FFC15E;
}

.grey{
  background-color: #E7E3E8;
}

.grey-light{
  background-color: #f0f0f0;
}

.blue{
  background-color: #56A3A6;
}

.orange-text{
  color: #FFC15E;
}

.blue-text{
  color: #56A3A6;
}

.red-text{
  color: #FF0000;
}

.white-text{
  color: #FFFFFF;
}



.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.spicy-enter {
  opacity: .01;
  transform: scaleX(0) translateY(100px);
}

.spicy-enter.spicy-enter-active {
  opacity: 1;
  transform: scaleX(1) translateY(0);
  transition: all 500ms ease-in-out;
}

.spicy-leave {
  opacity: 1;
  transform: scaleX(1) translateY(0);
}

.spicy-leave-active {
  opacity: 01;
  transform: scaleX(0) translateY(100px);
  transition: all 300ms ease-in-out
}

.table {
    border: 1px solid black;
    border-collapse: collapse;
}

/* Customize the checkbox admin (the container) */
.life-style-check {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1.2rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.life-style-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #ccc;
}

/* On mouse-over, add a grey background color */
.life-style-check:hover input ~ .checkmark {
  background-color: #56A3A6;
}

/* When the checkbox is checked, add a blue background */
.life-style-check input:checked ~ .checkmark {
  background-color: #56A3A6;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.life-style-check input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.life-style-check .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
